# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
# Your code here

import numpy as np
import pandas as pd

ins_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

ins_df.shape  ### 4008 rows and 11 columns

(4008, 11)

In [3]:
print(ins_df.dtypes)

# Customer Lifetime Value should be a float, not an object. 
# Number of Open Complaints should be an integer

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [4]:
ins_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [5]:
### Categorical Columns include State, Gender, Education, Policy Type and Vehicle Class.

print(ins_df[["ST"]].value_counts())
# Well there are two different Californias, Arizonas, and Washingtons, so that'll need fixing. 
# All in all, the company seems to have policies in AZ, CA, NV, OR, and WA. Only 5 states, not 8.
# The vast majority of policies seem to be in either CA or OR.  

print(ins_df[["GENDER"]].value_counts())
# There's cleaning that needs to be done here, too. M and Male for men and F, female, and femal for women. 
# There seems to be a pretty even division between males and females, though. 
# Only 2 categories. 

print(ins_df[["Education"]].value_counts())
# Bachelor and Bachelors need to be consolidated. 
# Other than that, there seems to be a pretty typical spread of education level. 
# 5 categories total

print(ins_df[["Policy Type"]].value_counts())
# Only 3 different types of policies, no confusion here. That's nice. 

print(ins_df[["Vehicle Class"]].value_counts())
# There also doesn't seem to be any confusion regarding the vehicle classes either. 
# 6 types of vehicle class

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [6]:
ins_df.describe() # Lays out the descriptors of 3 of the 5 columns that should be considered numerical. 

# Minimum income for a policyholder is $0, max or highest is $99,960
# Minimum monthly premium is $61, max is $35,354 - which is more than a third of the salary of the policy holder w/ the max income - gotta be a mistake. 
# Minimum total claim amount is $0.38, max is $2893.24 - this seems pretty low. 
# 1071 policies included in the dataframe
# Mean and median incomes are fairly close, so there's no outliers causing any huge skewing of data. 
# Given that the mean monthly premium is more than double the median, it suggests that this data is pretty skewed, probably by that super high outlier that's gotta be a mistake.
# The mean monthly premium is also approaching double the upper quartile range. Very skewed distribution there. 
# Minimum total claim amount of $0.38 doesn't make much sense. They don't have a single policy holder who's NEVER made a claim? Seems unlikely. Also, how do you claim such a small amount?
# Distribution in total claim amount also seems a bit skewed. 
# Upper quartile of claim amount shows that 75% of policyholders have received $530 in claims or less. 
# This last point means that even the policyholder paying the least per month ($61) would save more money just not having insurance within 10 months, based on how low payouts are.

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [7]:
ins_df["Number of Open Complaints"].nunique()

# Says there are 6 unique values, but I don't know what to make of them because I don't understand the number format.

6

In [8]:
print(ins_df["Customer Lifetime Value"].sort_values(ascending=False))
print(ins_df["Customer Lifetime Value"].sort_values(ascending=True))

# Lifetime values of policies does not seem to make any sense right now. Surely the value of the policy can't be 995,170% of a person's monthly premium. That's gotta be $. Which is still crazy.

196     995170.77%
183     994230.48%
750     992704.97%
682     988038.58%
444     987729.57%
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: Customer Lifetime Value, Length: 4008, dtype: object
718     1006460.83%
459     1011077.82%
926     1011544.62%
981     1016936.98%
1025    1017133.90%
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: Customer Lifetime Value, Length: 4008, dtype: object

In [9]:
### Categorical Columns include State, Gender, Education, Policy Type and Vehicle Class.

ins_df[["ST"]].describe()

# These results aren't very accurate, because I know that there are multiple CA's that need to be consolidated.

            ST
count     1071
unique       8
top     Oregon
freq       320

In [10]:
ins_df[["GENDER"]].describe()

# Again, there are issues here with frequency counts. 
# There are also more than a hundred gender counts missing, meaning some policies have incomplete information about the policyholders. 
# Those missings will need to be addressed somehow.

       GENDER
count     954
unique      5
top         F
freq      457

In [11]:
ins_df[["Education"]].describe()
# Frequency counts are off here, and yet Bachelor is still the highest. 
# How do they have education level for all the policy holders, but not gender???

       Education
count       1071
unique         6
top     Bachelor
freq         324

In [12]:
ins_df[["Policy Type"]].describe()
# Personal Autos account for the VAST majority of all policies.
# Of 3 types of policies, 1 type covers almost 80% of policies.

          Policy Type
count            1071
unique              3
top     Personal Auto
freq              780

In [13]:
ins_df[["Vehicle Class"]].describe()
# The majority of vehicles insured are four-door cars. 
# Of six types of vehicles classified, this one covers more than half of the policies.

        Vehicle Class
count            1071
unique              6
top     Four-Door Car
freq              576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# titanic_series = pd.read_csv(url, usecols=["Name"]).squeeze("columns")  ### saves as titanic_series, reads csv file found at url, runs usecols and squeeze

# titanic_series

In [22]:
# Your code here

state_series = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv",
                           usecols=["ST"]).squeeze("columns")  # Creates a series of the State locations from the ins_df data frame. 

least_recurring = (state_series.value_counts()).sort_values() # Gives the counts of each value in df states_series.

print(least_recurring.head())

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [24]:
# Your code here

# UUUUUUUUGGGGGH FIIIIIIIINE!

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

policy_series = pd.read_csv(url, usecols=["Policy Type"]).squeeze("columns")

top_policy_type = policy_series.value_counts().sort_values(ascending=False).head(1)

top_policy_type

Policy Type
Personal Auto    780
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [30]:
# Your code here

### I was guided through this by AI, and it worked pretty well. 
split_con = ins_df["Policy Type"] == "Personal Auto"

p_a_ins_df = ins_df.loc[split_con]

c_a_ins_df = ins_df.loc[~split_con]

print(p_a_ins_df[["Income"]].describe())    # Average income in personal auto policies is $38,180.70
print(c_a_ins_df[["Income"]].describe())    # Average income in corporate auto policies is $42,284.37

# So there's not a huge difference between the two, but the average income of personal auto policies is about 10% lower.

             Income
count    780.000000
mean   38180.698718
std    29952.165621
min        0.000000
25%    12096.000000
50%    35211.500000
75%    62774.000000
max    99790.000000
             Income
count    291.000000
mean   42284.367698
std    31673.878712
min        0.000000
25%    17576.000000
50%    40589.000000
75%    70231.500000
max    99960.000000

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here